```txt id="req92x"
aiogram==3.20.0.post0
aiohttp==3.11.18
aiofiles==24.1.0

fastapi==0.115.12
uvicorn==0.34.2

yt-dlp==2025.4.30
instaloader==4.14.1
youtube-search-python==1.6.6
ffmpeg-python==0.2.0

SQLAlchemy==2.0.40
aiosqlite==0.21.0
asyncpg==0.30.0

redis==6.1.0

python-dotenv==1.1.0
pydantic==2.11.4
pydantic-settings==2.9.1

APScheduler==3.11.0
cachetools==5.5.2

Pillow==11.2.1

httpx==0.28.1

orjson==3.10.18

greenlet==3.2.1
```
